.actual {
    display: flex;
    flex-direction: column;
    width: 95%;
    border-style: none;
    text-align: center;
    margin: auto;
    padding: 1rem;

    img {
        align-self: center;
    }
}

@media (min-width: 1200px) {
    .actual{
        max-width: 1400px;
    }
    }